* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.FormContainer{
  padding: 10px;
  padding-top: 20px;
  border:60px solid white;
}

.ContactLinks{
  background:black;
  text-align: center;
  font-family: "Chalkduster", Times, serif;
  font-size: 20px;
  color:  white;
  text-decoration: none;
}

.Github{
  font-family: "Chalkduster", Times, serif;
  color:  white;
  text-decoration: none;
}

.Github:hover{
  background-color: rgb(0, 162, 255);
  border-radius: 25px;
  width: 250px;
  color:white;
}

.LinkedIn{
  font-family: "Chalkduster", Times, serif;
  color:  white;
  text-decoration: none;
}

.LinkedIn:hover{
  background-color: rgb(0, 162, 255);
  border-radius: 25px;
  width: 250px;
  color:white;
}

body {
  background-color: rgb(0, 162, 255);
}

body,
input,
textarea,
button {
  font-family: "Chalkduster", Times, serif;
}

.app {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
}

.form {
  height: 100vh;
  width:800px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  border-radius: 25px;
}

.form > h1 {
  margin-bottom: 30px;
}

.form > input,
textarea {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  width:400px;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
}

.form > button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 2, 110);
  font-family: "Chalkduster", Times, serif;
  
  font-size: 30px;
  background-color: black;
  text-decoration: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: rgb(0, 162, 255);
}