
.Home{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 400px;
}

.Text {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: "Chalkduster", Times, serif;
    color: black;
    font-size: 100px;
    text-align:center;
}

.World{
    margin-left: auto;
    margin-right: auto;
}